<div class="quiz-area">
	<div>
		<h2 id="question">{{question}}</h2>
		<ul id="options">
			<li ng-repeat="option in options">
				<label>
					<input type="radio" name="answer" value="{{option}}">
					{{option}}
				</label>
			</li>
		</ul>
		<button ng-click="checkAnswer()" ng-show="answerMode">Ответ</button>

		<div ng-show="!answerMode">
			<button ng-click="nextQuestion()" class="next-question">Дальше</button>
			<span ng-show="correctAns">Верно!</span>
			<span ng-show="!correctAns">Ответ не верный.</span>
		</div>
	</div>

	<div ng-hide="true" id="score">
		Оценка: {{score}}
	</div>
</div>
